In [11]:
## Dependencies
import joblib
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

pac = joblib.load('fakenewsfinder.pkl')
cv = joblib.load('countvectorizer')

token = word_tokenize(testinput)

stop_words = set(stopwords.words('english'))
filtered = []

for i in token:
    if i not in stop_words:
        filtered.append(i)
filtered = ' '.join(filtered)
feature = [filtered]
ftm = cv.transform(feature)
pac.predict(ftm)

['TIRANA , Albania ( AP ) — Albania offered NATO naval base effort highlight small country ’ value alliance “ difficult times , ” prime minister ’ office said Thursday . Prime Minister Edi Rama said Pashaliman naval base , 180 kilometers ( 110 miles ) south capital Tirana , could “ added value ” alliance prepared project renovation . “ In dangerous times I believe general may consider NATO ’ naval base Albania , ” Rama said speech Wednesday . Albania , became NATO member 2009 , joined United States European Union denouncing Russia ’ war Ukraine . The Pashaliman base located Vlora Bay built 1950s Soviet Union brought 12 submarines , making naval base Mediterranean . Following breakdown Tirana-Moscow ties 1961 , Pashaliman remained naval base sheltering four remaining submarines small military ships . The base looted , including material submarines , anarchic year 1997 Albania Europe ’ then-poorest population lost life savings failed pyramid investment schemes . Three submarines sold scrap fourth one remains , government considering whether turn museum . Pashaliman renovated Turkey since used naval base military ships patrolling Ionian Adriatic Seas . NATO also started work upgrade Albania ’ communist-era Kucove Air Base , 85 kilometers ( 53 miles ) south capital Tirana , allow used alliance operations .']

<1x121589 sparse matrix of type '<class 'numpy.int64'>'
	with 121 stored elements in Compressed Sparse Row format>

array(['0'], dtype='<U1')

NameError: name 'tf_df_matrix' is not defined